sudo: required
dist: xenial
cache: bundler
language: ruby
rvm:
- 2.4.5
- 2.5.3
addons:
  postgresql: '10'
before_install: gem install bundler -v 1.12.5
after_script: bundle exec codeclimate-test-reporter
